/* styles.css */
.signUp-gradients-backgrounds {
    background: rgb(45,19,53);
    background: radial-gradient(circle, rgba(45,19,53,1) 0%, rgba(0,6,26,1) 71%);
    
    /* button */
    /* background: rgb(239,13,121);
    background: linear-gradient(260deg, rgba(239,13,121,1) 0%, rgba(174,8,140,1) 71%); */
  }